html{
    display: flex;
    justify-content: center;
    align-content: center;
    background-image:url("Images/bg-3.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;

    font-family: "Times New Roman";
    
}   
body {
    display: flex;
    flex-direction: column;
    padding: 5px 5px 5px 5px ;

    max-width: 100vh;
    min-height: 100vh;

    border: 8px solid rgb(29, 53, 119);
    background-color:rgb(34, 178, 159);
    
}
section{
    padding: 50px 40px 0px 40px;
    
}
header{
    font-family: Castoro Titling;

    text-align: center;
    
    text-shadow: 2px 2px rgb(47, 115, 194);

    font-size: 30px; 
}
h2{
font-family: Castoro Titling;
font-size: 30px;
border-bottom: 1px solid rgb(47, 115, 194);
text-shadow: 2px 2px rgb(47, 115, 194);
}
p{
    text-indent: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px rgb(58, 110, 108);
}

li{
    text-indent: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px rgb(58, 110, 108);
}